<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<body>
<main class="desktopSpacing">
    <header>
        <h1>Favorieten</h1>
        <hr/>
        <p>In dit overzicht vind je al jouw favoriete huizen terug.</p>
    </header>
    <h2>Zie teamleden</h2>
    test
</main>
</body>

<%- include('./partials/foot') %>